
    body{
        font-size:11px;
        color:black;

	background-color:#676f71;
    }
    a{
        color:black;
        text-decoration:none;
    }
    div#phototheque{
	margin-left:auto;
	margin-right:auto;
   	width:450px;
	background-color:#676f71;
	overflow:none;
    }
    div#photos{
	margin:20px;
	padding:10px;
	height:150px;
	background-color:#676f71;
	overflow:auto;
    border: 4px solid lightgray;
    }
    div.titre{
	padding:20px;
	color:#B1CB0A;
	font-size:1.5em;
	background-color:#676f71;
    }

    ul#photo-list{
        width:300px;
	    height:300px;
        margin:0;
        padding:0;
    }


    ul#photo-list li{
        width: 50%;
        margin:0;
    }

    ul li{
        list-style-type:none;
        float:left;
        text-align: center;
    }

    div#add {
	padding:5px;
        width:100%;
	margin-top:15px;
    }

    .no-display{
        display:none;    
    }

   
    ul div.delete{
	padding: 10px;
	color:#B1CB0A;
	text-align:center;
        cursor:pointer;

    }
    ul div.delete a{
	color:rgb(130,70,30);
    }
    img.vignette {
	width:80px;
	height:80px;
	border:1px solid #CCCCCC;
    }
#form-content{
width:100%;
margin-left:10px;
margin-right:10px;
}

#form-content form {
    width: 630px;
}

#form-content label{
width:100px;
display: inline-block;
margin-right: 5px;
}

p.obligatoire {
color:#004796;
float:left;
}

input[type=submit], input#submit{
    margin-left:300px;
    background:transparent url('../../../bundles/certiveaenews/img/boutons/Valider.jpg');
    height:24px;
    width:93px;
    border:none;
}
